@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  font-size: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f6;
}

.to-do-section {
  width: 90%;
  margin: 20% 5%;
  box-shadow: 5px 10px 20px #888;
}

.to-do-list-box {
  background-color: white;
}

.to-do-title {
  border-bottom: 1px solid #888;
  height: 40px;
  align-items: center;
  padding-left: 2%;
}

.titleBox,
.inputBox,
.task-box {
  position: relative;
}

i {
  position: absolute;
  color: gray;
  right: 3%;
  top: 12px;
  font-size: 15px;
}

.titleBox i,
.inputBox i {
  right: 3%;
}

i:hover {
  cursor: pointer;
}

i.trash {
  right: 7%;
}

i.edit {
  right: 12%;
}

.description-input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #888;
  padding-left: 2%;
}

.error-message {
  margin: 0;
  color: red;
  font-size: 0.8rem;
  padding-left: 2%;
  transition: visibility 5s;
}

.task-box {
  border-bottom: 1px solid #888;
  align-items: center;
  justify-content: space-between;
}

.task-description {
  width: 75%;
  height: 40px;
  margin: 0;
  padding: 10px 0;
}

.description-input:focus,
.task-description:focus,
.task-box:focus-within {
  outline: none;
}

.description-input::placeholder {
  font-style: italic;
}

.task-box:focus-within {
  background-color: #e4e3ae;
}

.checkBox-and-description-box {
  padding-left: 2%;
  gap: 0.5rem;
  width: 95%;
}

.check-box:hover {
  cursor: pointer;
}

.dots-box {
  gap: 0.2rem;
  padding-right: 3%;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #8888;
  border-radius: 50%;
  display: inline-block;
}

.dots-box:hover {
  cursor: url('../assets/cursor.png'), move;
}

.dots-box:hover .dot {
  background-color: #888;
}

.clear-all-completed {
  height: 40px;
  align-items: center;
  justify-content: center;
  color: #888;
}

.clear-all-completed:hover {
  cursor: pointer;
  text-decoration: underline;
}
